
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a id="logo" class="navbar-brand" href="/" >Store TP02</a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapse" data-tpggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse=1">
      <ul class="nav navbar-nav">
        <% @taxonomies.each do |taxonomy| %>
          <li class="dropdown">
            <%= link_to '#', data:{ toggle: "dropdown" }, "aria-haspopup" => "true" do %>
              <%= taxonomy.name %> <span class="caret"></span>
            <% end %>
            <%= nav_tree(taxonomy.root, @taxon, 1) %>
          </li>
        <% end %>

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
        <%= form_tag spree.products_path, method: :get do %>
          <%= search_field_tag :keywords, params[:keywords], placeholder: t('spree.search') %>
          <%= submit_tag t('spree.search'), name: nil %>
        <% end %>
      </form>

      <form id="main-nav-bar" class="navbar-form navbar-left" data-hook>
       <li id="link-to-cart" data-hook>
          <noscript>
            <%= link_to t('spree.cart'), spree.cart_path %>
          </noscript>
          &nbsp;
        </li>
      </form>
      <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>



    </div><!--/.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>